*{ margin: 0; padding: 0;}
a{ text-decoration: none; color: #000;}
ul{ list-style: none;}
html{ position: relative; width: 100%; height: 100%; margin: 0 auto; font-family: Arial, Microsoft Yahei, 黑体;}
body{ -webkit-overflow-scrolling: touch; position: relative; width: 100%; height: 100%; margin: 0 auto; background:linear-gradient(90deg,#2dc8f9,#4fe2e2);}


/* background:linear-gradient(90deg,rgba(200,106,220,0.6),rgba(254,134,73,0.6)) */

#wrapper
{
	position: relative;
	width: 100%;
	min-width: 320px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}
#top_bar
{
	position: fixed;
	width: 100%;
	height: 56px;
	float: left;
	z-index: 999;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	background: rgba(255,255,255,0.7);
}

#left_bar
{
	position: fixed;
	width: 240px;
	height: 100%;
	top: 0;
	left: -260px;
	z-index: 99999;
	overflow: hidden;
}
	.left_bar_layer
	{
		position: fixed;
		width: 100%;
		height: 0;
		background: rgba(0,0,0,0.8);
		z-index: 9999;
	}

#item
{
	position: relative;
	width: 260px;
	height: 100%;
	padding-top: 56px;
	overflow-y: scroll;
	background: #fff;
}
	#item li:last-child
	{
		margin-bottom: 100px;
	}
	#item li
	{
		position: relative;
		width: 100%;
		line-height: 40px;
		float: left;
		text-align: left;
		color: #000;
		background: #fff;
		margin-top: 2px;
	}
	#item li:hover
	{
		background: rgba(0,0,0,0.2);
	}
	#item p
	{
		margin: 5px 0 5px 32px;
		font-size: 16px;
		text-transform: uppercase;
	}


#menu_logo
{
	position: fixed;
	width: 240px;
	height: 56px;
	float: left;
	left: 0;
	top: 0;
	line-height: 56px;
	color: #308ac2;
	z-index: 999999;
}
	.menu
	{
		position: relative;
		width: 20px;
		height: 20px;
		margin: 18px 0 18px 32px;
		float: left;
		display: block;
	}
	.logo
	{
		position: relative;
		width: 130px;
		height: 56px;
		margin: 0;
		left: 10px;
		font-size: 20px;
		float: left;
	}

#container
{
	position: relative;
	width: 80%;
	height: auto;
	top: 80px;
	margin: 0 auto;
	color: #fff;
}
	#content
	{
		position: relative;
		width: 100%;
		max-width: 900px;
		height: 100%;
		margin: 0 auto;
	}
		.c_li{
			position: relative;
			margin: 30px 0;
		}
		#content li
		{
			position: relative;
			width: 100%;
			margin: 30px 0;
			overflow: hidden;
			float: left;
		}
		#content li:first-child
		{
			padding-top: 50px;
		}
		#content li:last-child
		{
			padding-bottom: 50px;
		}
		.box_title
		{
			position: relative;
			width: 100%;
			height: 50px;
			margin: 60px 0 10px 0;
			line-height: 50px;
			background: rgba(0,0,0,0.3);
			border-left: 2px solid #fff;
		}
		.box_title p
		{
			margin-left: 15px;
			line-height: 50px;
		}
		.box_cont
		{
			position: relative;
			width: 100%;
			background: rgba(0,0,0,0.3);
			border-left: 2px solid #fff;
		}
		.box_cont p
		{
			font-size: 16px;
			padding: 8px 0 8px 15px;
			line-height: 30px;
		}


#load{
	position: relative;
	width: 100%;
	heigth: auto;
	padding-top: 80px;
}

#footer
{
	position: relative;
	width: 100%;
	height: 20px;
	bottom: 10px;
	padding-bottom: 10px;
	margin: 0 auto;
	float: left;
	
}
#footer p
{
	width: 90%;
	height: 20px;
	margin: 0 auto;
	line-height: 20px;
	color: #fff;
	text-align: center;
	font-size: 14px;
}


