html, body{
	font-family: Arial, sans-serif, 楷体;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	overflow: hidden;
}
p{ padding: 1rem 1.4rem; margin: 0; font-size: 1rem;}

/*  背景高斯模糊  */
.bg_layer{ position: fixed; width: 100%; height: 100%;}
.bg_layer_img{
	position: relative;
	width: 110%;
	height: 110%;
	left: -5%;
	top: -5%;
	z-index: 0;
	-webkit-filter:blur(10px);-moz-filter:blur(10px);filter:blur(10px);
}
.bg_layer_color{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.3);
}


@media only screen and (min-width: 320px) and (max-width: 359px){ html{ font-size: 13px;}}
@media only screen and (min-width: 360px) and (max-width: 374px){ html{ font-size: 14px;}}
@media only screen and (min-width: 375px) and (max-width: 413px){ html{ font-size: 16px;}}
@media only screen and (min-width: 414px) and (max-width: 736px){ html{ font-size: 18px;}}
@media only screen and (min-width: 736px){ html{ font-size: 20px;}}